/**
 * Main component
 */
/*
.main {
  --bg: rgb(var(--background));
  --color: rgb(var(--on-background));
}
*/

.main {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: var(--bg);
  color: var(--color);
  width: var(--width, 100%);

}
